Repository djdanielsson/rh1-ee: changes, and which pre-commit hooks are due for each by the changed paths.
All: ee-yaml-validation, base-image-check, requirements-yml-validation, version-pinning-collections, version-pinning-python, no-latest-tags, bindep-validation, no-manual-dockerfile, no-secrets

ee-yaml-validation:
  name: Execution Environment YAML Validation
  ...

base-image-check:
  name: Base Image Validation
  ...

requirements-yml-validation:
  name: Requirements.yml Validation
  ...

version-pinning-collections:
  name: Collection Version Pinning Check
  ...

version-pinning-python:
  name: Python Version Pinning Check
  ...

no-latest-tags:
  name: No Latest Tags Check
  ...

bindep-validation:
  name: Bindep.txt Validation
  ...

no-manual-dockerfile:
  name: No Manual Dockerfile
  ...

no-secrets:
  name: No Secrets in EE Config
  ...

updates
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

Update requirements.yml
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

Fix args
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

please work
  .tekton/push.yml
  .tekton/release.yml
Due: no-secrets

Fix collision
  .tekton/push.yml
  .tekton/release.yml
Due: no-secrets

Update myorg.custom_collection to version 26.1.16-0
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

updates
  .github/workflows/validate-ee.yml
Due: no-secrets

updates
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/auto-label.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .tekton/push.yml
  .tekton/release.yml
  .tekton/tasks/ansible-builder-task.yml
  .yamllint
  README.md
  bindep.txt
  execution-environment.yml
  requirements.in
  scripts/generate-sbom.sh
  scripts/scan-vulnerabilities.sh
  scripts/validate-versions.sh
Due: ee-yaml-validation, base-image-check, no-latest-tags, bindep-validation, no-secrets

updates
  .pre-commit-config.yaml
  .yamllint
Due: no-secrets

updates
  .pre-commit-config.yaml
Due: no-secrets

Release tag for 26.1.16-1
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

Release tag for 26.1.21-0
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

Release tag for 26.1.21-1
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

Release tag for 26.1.27-0
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

chore: security audit remediations (#8)
  .github/dependabot.yml
  .github/workflows/auto-label.yml
  .github/workflows/pre-commit.yml
  .github/workflows/validate-ee.yml
  .gitignore
Due: no-secrets

ci: update Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: no-secrets

ci: add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: no-secrets

Add Cosign image signing to EE build and release pipelines.
  .github/workflows/validate-ee.yml
  .tekton/push.yml
  .tekton/release.yml
  .tekton/tasks/ansible-builder-task.yml
  execution-environment.yml
  requirements.yml
  scripts/sign-image.sh
  scripts/verify-image-signature.sh
Due: ee-yaml-validation, base-image-check, requirements-yml-validation, version-pinning-collections, no-latest-tags, no-secrets

Add Cosign image signing to EE build and release pipelines. (#39)
  .github/workflows/validate-ee.yml
  .tekton/push.yml
  .tekton/release.yml
  .tekton/tasks/ansible-builder-task.yml
  execution-environment.yml
  requirements.yml
  scripts/sign-image.sh
  scripts/verify-image-signature.sh
Due: ee-yaml-validation, base-image-check, requirements-yml-validation, version-pinning-collections, no-latest-tags, no-secrets

chore(deps): combine 3 dependabot updates
  requirements.txt
Due: version-pinning-python, no-secrets

Path conditions:
  ee-yaml-validation: any of: ^execution-environment\.yml$
  base-image-check: any of: ^execution-environment\.yml$
  requirements-yml-validation: any of: ^requirements\.yml$
  version-pinning-collections: any of: ^requirements\.yml$
  version-pinning-python: any of: ^requirements\.txt$
  no-latest-tags: any of: ^execution-environment\.yml$
  bindep-validation: any of: ^bindep\.txt$
  no-manual-dockerfile: any of: ^(Dockerfile|Containerfile)$
  no-secrets: any of: \.(yaml|yml|txt)$
