Repository djdanielsson/rh1-ee: changes, and which pre-commit hooks are due for each by the changed paths.
All: ee-yaml-validation, base-image-check, requirements-yml-validation, version-pinning-collections, version-pinning-python, no-latest-tags, bindep-validation, no-manual-dockerfile, no-secrets

Path conditions:
  ee-yaml-validation: any of: ^execution-environment\.yml$
  base-image-check: any of: ^execution-environment\.yml$
  requirements-yml-validation: any of: ^requirements\.yml$
  version-pinning-collections: any of: ^requirements\.yml$
  version-pinning-python: any of: ^requirements\.txt$
  no-latest-tags: any of: ^execution-environment\.yml$
  bindep-validation: any of: ^bindep\.txt$
  no-manual-dockerfile: any of: ^(Dockerfile|Containerfile)$
  no-secrets: any of: \.(yaml|yml|txt)$

Add upstream ee for testing
  execution-environment.yml
  requirements.in
  requirements.txt
  requirements.yml
Due: ee-yaml-validation, base-image-check, requirements-yml-validation, version-pinning-collections, version-pinning-python, no-latest-tags, no-secrets

Add .tekton
  .tekton/pipelinerun.yml
  .tekton/tasks/ansible-builder-task.yml
Due: no-secrets

Fix typos
  .tekton/pipelinerun.yml
Due: no-secrets

Add some rh automationhub collections
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

Add simple redhat.io image
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

fix typo, temp switch to regular buildah task due to bug
  .tekton/pipelinerun.yml
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

is/buildah testing
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Add prepend_galaxy args
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

fix typo
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Add rhocp repos
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Surely one of these will work
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Update ee excludes
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Add systemd-devel
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Add others deps
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Test python dep for fix
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Surely this is the fix
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Try another config..
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Update CI for testing
  .tekton/pipelinerun.yml
Due: no-secrets

Attempt array fix
  .tekton/pipelinerun.yml
Due: no-secrets

Add matrix and pull secrets
  .tekton/pipelinerun.yml
Due: no-secrets

fix typo
  .tekton/pipelinerun.yml
Due: no-secrets

Try with linked secret..
  .tekton/pipelinerun.yml
Due: no-secrets

Remove commented out values that I don't actually need
  .tekton/pipelinerun.yml
Due: no-secrets

add infra.aap_configuration
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

Fix image source
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

updates
  .github/workflows/auto-label.yml
  .github/workflows/validate-ee.yml
  .pre-commit-config.yaml
  README.md
  execution-environment.yml
  scripts/generate-sbom.sh
  scripts/scan-vulnerabilities.sh
  scripts/validate-versions.sh
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

updates
  README.md
Due: none

updates
  scripts/validate-versions.sh
Due: none

updates
  requirements.yml
Due: requirements-yml-validation, version-pinning-collections, no-secrets

updates
  README.md
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets

Update image ref
  execution-environment.yml
Due: ee-yaml-validation, base-image-check, no-latest-tags, no-secrets
